.custom-bg {
  background: #001220;
}

.bg-custom-secondary {
  background-color: #cccfea;
}

.text-custom-secondary {
  color: #c7ccff;
}

.custom-dimensions {
  width: 100%;
  height: 280px;
  background-size: cover;
}

small > a {
  color: #cccfea;
  text-decoration: none;
}

small > a:hover {
  scale: 1.2;
  color: #6d7bfb;
  text-decoration: none;
}